page-home {
    .logo-home {
        display: block;
        margin-top: 15%;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    } 
    #phone {
        border: 1px solid #b7bbbd;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 4px;
        width: 140px;
    }

    .form-all input,select {
        border: 1px solid #b7bbbd;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 4px;
        width: 140px;
        }
}
