page-search {
	.scroll-content {
		padding: 0 !important;
		overflow: hidden !important;
	}
	#map {
		position: absolute;
		top: 0;
		z-index: -1;
		max-width: 100%;
		max-height: 100%;
		height: 100%;
		width: 100%;
	}
	.searchBar {
		padding: 16px;
		&-container {
			display: flex;
			justify-content: center;
			ion-input {
				background-color: white;
				border-radius: 15px;
				border: 1px solid;
				border-color: #D8D8D8;
				width: 75%;
				margin-left: auto;
				margin-right: auto;
				font-family: "Roboto";
				font-size: 17px;
				box-shadow: 0px 1px 5px 0px rgba(0,0,16,1);
				transition: 0.2s ease-in-out;
				.text-input-md {
					margin: 17px 8px 15px;
					padding-left: 10%;
				}
				::placeholder {
					color: #929292;
					font-size: 17px;
					font-family: "Roboto";
					font-weight: 200;
				}
				&:hover, &:focus {
					box-shadow: 0px 1px 10px 0px rgba(0,0,16,1);
					transition: 0.2s ease-in-out;
				}
			}
		}
	}

	.compare {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 30%;
		box-shadow: 0px -1px 2px 0px rgba(0,0,16,1);
		background-color: white;
		border-radius: 15px;
		&-title {
			display: block;
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			background-color: #33cb98;
			color: white;
			padding-bottom: 5px;
			padding-top: 5px;
			text-transform: uppercase;
			border-radius: 15px;
		}
		&-container {
			height: 80%;
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			overflow: auto;
			white-space: nowrap;
			.scroll-content {
				.scroll-zoom-wrapper {
					height: 100%;
					width: 100%;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					overflow: auto;
					white-space: nowrap;
				}
			}
		}
		.single-compare {
			display: flex;
			justify-content: center;
			flex-direction: column;
			width: 33%;
			min-width: 33%;
			font-family: "Roboto";
			cursor: pointer;
			transition: 0.2s;
			&:focus, &:hover {
				transform: scale(1.1);
				transition: 0.2s;
			}
			&-logo {
				width: 40%;
				border-radius: 100%;
				margin: auto;
			}
			&-title {
				margin: 0;
				text-align: center;
				font-size: 18px;
				margin-top: 5px;
			}
			&-price {
				margin: 0;
				text-align: center;
				font-size: 18px;
				font-weight: bold;
				color: #33cb98;
			}
			&-waiting {
				margin: 0;
				text-align: center;
				font-size: 15px;
			}
		}
	}
}
