<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
<ion-header>

	<ion-navbar>
		<ion-title>Map</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<div id='map'></div>
	<section class="searchBar">
		<div class="searchBar-container">
			<input id="searchBar-input" class="searchBar-input" placeholder="Where To?" name="number" (focusout)="setDisplayRides($event)">
		</div>
	</section>

	<section [className]="displayRides ? 'compare show' : 'compare hide'">
		<div class="compare-title">Rides</div>
		<ion-scroll scrollX="true" class="compare-container" >
			<div class="single-compare" *ngFor="let vtc of vtcList" (click)="buildDeepLink(vtc.vtc,vtc.product_id)">
				<img class="single-compare-logo" src="../../assets/imgs/uberlogo.jpg" *ngIf="vtc.vtc == 'Uber'">
				<img class="single-compare-logo" src="../../assets/imgs/lecablogo.png" *ngIf="vtc.vtc == 'Lecab'">
				<p class="single-compare-title">{{ vtc.type }}</p>
				<p class="single-compare-price">{{ vtc.price }}</p>
				<p class="single-compare-waiting">{{ vtc.time / 60 }} min</p>
			</div>
		</ion-scroll>
	</section>

	<div [className]="displayLoader ? 'loader show' : 'loader hide'">
		<img src="../../assets/imgs/loader.gif">
		<div class="loader-background"></div>
	</div>
</ion-content>